<h1>Listing all articles</h1>
<!-- (new_article_path found in rails routes, as new_article next to #new route) -->
<%= link_to "Create new article", new_article_path%> 

<table>

    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td> <%= article.title %> </td>
            <td> <%= article.description %> </td>
        </tr>
    <% end %>

</table>