@import './bootstrap_custom.scss';
@import "~bootstrap/scss/bootstrap";
$blue: #083d77;
$white: #efefef;


// NAVBAR
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-brand{
    color: $white;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.disabled{
    color: $white;
}

.bg-light {
    margin-bottom: 0;
    background-color: $blue !important;
}

.jumbotron {
    background-image: url(../../assets/images/typewriter.jpg) ;
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    color: $white;
    text-align: center;
    margin-bottom: 30px;   
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black ;
}

.center {
    text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $white;
    color: #777;
}

// footer anchor tags
footer a:hover {
    color: #222
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
     float: left;
     margin-left: 15px ;
}

// ANCHOR TAG STYLING
// a:link { /* Essentially means a[href], or that the link actually goes somewhere */
//   color: blue;
// }
// a:visited {
//   color: purple;
// }
// a:hover {
//   color: green;
// }
// a:active {
//   color: red;
// }
